
header {
  float: left;
  width: 100%;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #09bf38;
  border: 5px solid white;
}



.instructions {
  /*float: left;*/

  margin-left: 140px;
  width: 270px;
  padding: 20px;
  background: #fff;
  border: 5px solid #ddd;
}

#targetScore {
	
  width: 160px;
  
  padding: 30px;
  margin-left: 180px;
  margin-bottom: 20px;
  background: #09bf38;
  border: 5px solid white;
}
 
#score {
	
  width: 200px;
  
  padding: 30px;
  margin-bottom: 20px;
  background: #09bf38;
  border: 5px solid white;
}

#win {
	
  width: 200px;
  
  padding: 30px;
  margin-bottom: 20px;
  background: #09bf38;
  border: 5px solid white;
 
}

#buttons {
	margin-bottom: 20px;
}